body {
    color: rgb(25,25,112);
    text-align: justify;
    background-color: rgb(250 235 215); 
    margin-left: 05%;
    margin-right: 05%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    

}

h1 {

    background-color:rgb(250 235 215);
    text-align: center;
    font-size: 60px;
}


h2 { 
    background-color: yellow;
text-align: center;
margin: top 10%;
margin-bottom: 5%;
margin-left: 30%;
padding-left: 10px;
padding-right: 40px;
margin-bottom: 20px;







}



h3 {

    background-color: rgb(250 235 215);
    color: red;
    font-size: 40px;




}

p {
    font-size: 35px;
    text-align: left;

}

h4 {

    font-size: 30px;
    text-align: right;




}


#paragrafo {
color: red;


}

.imagem1: { 
display: inline-block;
height: 50%;
width: 40%;
text-align: center;
margin-left: 00%;
margin-right: 00%;



    
}